.homepagecard,
.badgescard,
.firstinfo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.homepagecard {
  font-family: 'Noto Sans JP', sans-serif;
  width: 100%;
  min-height: 100%;
  overflow: hidden;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

.card {
  width: 100%;
  min-height: 154px;
  padding: 20px;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
  position: relative;
  overflow: hidden;
}

.firstinfo {
  flex-direction: row;
  z-index: 2;
  position: relative;
}

.firstinfo img {
  border-radius: 50%;
  width: 79px;
  height: 79px;
}

.firstinfo .profileinfo {
  padding: 0px 20px;
}

.firstinfo .profileinfo p.bio {
  margin-top: -10px;
}
