.btn-main {
  color: #fff;
  background-color: #eb6115;

  &:hover {
    background-color: #fff;
    color: #eb6115;
    border-color: #eb6115;
  }
}

.btn-outline {
  background-color: #fff;
  color: #eb6115;
  border-color: #eb6115;
  &:hover {
    color: #fff;
    background-color: #eb6115;
  }
}
