.btn-main {
  color: var(--white);
  background-color: var(--halloween-orange);
}

.btn-main:hover {
  background-color: var(--white);
  color: var(--halloween-orange);
  border-color: var(--halloween-orange);
}

.btn-outline {
  background-color: var(--white);
  color: var(--halloween-orange);
  border-color: var(--halloween-orange);
}

.btn-outline:hover {
  color: var(--white);
  background-color: var(--halloween-orange);
}

.button-reservation {
  width: 150px;
}

.button-mypage{
  width: 150px;
}

.button-mypage-confirm{
  width: 100%;
  background-color: var(--white);
  border-color: var(--halloween-orange);
  color: var(--halloween-orange);
}