.card-horizontal {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 5px 10px;
  margin: 0;
  padding: 0;
  border-radius: 10px;
}

.card-horizontal:active{  
  background-color: #EB6115;
}

.card-horizontal:hover{  
  background-color: #EB6115;
}

.card-horizontal:focus{  
  background-color: #EB6115;
}

.card-horizontal::selection{  
  background-color: #EB6115;
}