/* Font */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400;700&display=swap');

/* Variable */
@import url('./variable.css');

/* Reset */
@import url('./reset.css');

/* Components style */
@import url('../components/CarModal/style.css');
@import url('../components/SelectionService/style.css');
@import url('../components/Navbar/style.css');
@import url('../components/Button/style.css');
@import url('../components/NearBy/style.css');
@import url('../components/TextArea/style.css');
@import url('../components/Header/styles.css');
@import url('../components/CardHorizontal/style.css');
@import url('../components/GasStation/style.css');
@import url('../components/MyPage/style.css');
@import url('../components/MemberRegister/style.css');

/* COMMON STYLE */
.btn-login {
  font-size: 0.9rem;
  letter-spacing: 0.05rem;
  padding: 0.75rem 1rem;
}

.btn-google {
  background-color: #ea4335;
}

.btn-google:hover {
  opacity: 0.8;
  background-color: #ea4335;
}

.btn-line {
  background-color: #00b900;
}

.btn-line:hover {
  background-color: #00b900;
  opacity: 0.8;
}

.register {
  display: flex;
  justify-content: end;
  flex-direction: column;
}

body,
html {
  font-family: 'Noto Sans JP', sans-serif;
  color: #000000;
}

p,
a {
  font-family: 'Noto Sans JP';
  font-weight: 100;
}

@media screen and (max-width: 600px) {
  h6,
  p,
  a {
    font-size: calc(16px + (26 - 16) * ((100vw - 300px) / (1200 - 300)));
  }
}

@media screen and (min-width: 601px) {
  h6,
  p,
  a {
    font-size: calc(16px + (26 - 16) * ((100vw - 300px) / (1200 - 300)));
  }
}
